@tailwind base;
@tailwind components;
@tailwind utilities;

@import './main.scss';
@import './buttons.scss';
@import './homepagehero.scss';

@layer base{
  body{
    font-size: 16px;
  }
  h1{
    font-size: 4rem;
    line-height: 60.8px;
    font-weight: 700;
  }
  h2{
    font-size: 3.25rem;
    line-height: 95%;
    font-weight: 700;
  }
  h3{
    font-size: 1.625rem;
    line-height: 2.0625rem;
    font-weight: 600;
  }
}

.splide{
  max-width: 100%;
}

main{
  overflow: hidden;
}
li{
  @apply font-rubik
}

.slider-cta__inner{
  background: url('../public/plus2.png');
  background-repeat: no-repeat;
  background-position: left bottom; 
}

.card-slider{
  .stripped-circle__decor {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
 .stripped-rectangle__decor{
    bottom: 80%;
    right: -50%;
    z-index: -1;
    position: absolute;
  }
}

.carousel{
  .splide{
    @apply flex flex-wrap items-center;
    .splide__arrow--prev{
      left: 0;
      svg{
        transform: unset;
      }
    }
    .splide__arrow--next{
      right: 0;
    }
  }
  .stripped-circle__decor {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
 .stripped-rectangle__decor{
    bottom: 80%;
    right: -50%;
    z-index: -1;
    position: absolute;
  }
}

.logo-slider{
  .splide__list{
    display: flex;
    align-items: center;
    li{
      margin: auto;
      @apply flex justify-center
    }
  }
}
.tab-slider__inner{
  background: linear-gradient(105.53deg, #07102E 60.66%, #256E9C 97.1%),#000;
  .tab-active:before{
    content: "";
    position: absolute;
    top: 130%;
    left: 0;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background: linear-gradient(63.43deg, #3364DD 35.44%, #4459D5 47.81%, #6447C8 63.57%, #7041C3 69.82%, #A94DEB 84.83%, #FE80FE 97.95%);
  }
}

.testimony-slider__inner{
  position: relative;
  overflow: hidden;
  .splide{
    position: relative
  }
  .splide__arrows{
    position: absolute;
    width: 100%;
    bottom: calc(100% + 20px);
    .splide__arrow--prev{
      left: 0;
      svg{
        fill: white;
        transform: unset;
      }
    }
    .splide__arrow--next{
      left: 0;
      svg{
        transform: unset;
        fill: white;
      }
    }
  }
  .stripped-circle__decor{
    position: absolute;
    top: -165px;
    left: 45;
    z-index: 1;
  }
  .plus__decor{
    position: absolute;
    bottom: -75px;
    left: 50%;
  }
}

section.tabs{
  .tab-section__inner{
    li{
      width: fit-content;
      cursor: pointer;
    }
    .tab-active{
      position: relative;
      &:before{
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background: linear-gradient(63.43deg, #3364DD 35.44%, #4459D5 47.81%, #6447C8 63.57%, #7041C3 69.82%, #A94DEB 84.83%, #FE80FE 97.95%);
      }
    }

  }
}