@tailwind base;
@tailwind components;
@tailwind utilities;

@import './main.scss';
@import './buttons.scss';
@import './homepagehero.scss';

@layer base{
  body{
    font-size: 16px;
  }
  h1{
    font-size: 4rem;
    line-height: 60.8px;
    font-weight: 700;
  }
  h2{
    font-size: 3.25rem;
    line-height: 95%;
    font-weight: 700;
  }
  h3{
    font-size: 1.625rem;
    line-height: 2.0625rem;
    font-weight: 600;
  }
}

li{
  @apply font-rubik
}